.profile-pic-wrap {
	width: 100%; overflow: hidden;
	position: relative; background: #f5f5f5;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
  height: 270px;

	img {
		display: block; width: 100%;
		height: 100%; position: absolute;
		top: 0; left: 0; object-fit:contain;
	}

	.img-overlay {
		height: 100%; width: 100%;
		position: absolute; bottom: 0; left: 0;
		padding: 0;
		display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
		align-items: center; justify-content: center;
		flex-direction: column; color: #222;

		.upload-profile-pic-txt {
			font-size: 18px; letter-spacing: 0.5px;
			font-weight: 500; margin-bottom: 25px;
		}
		.upload--btn {
			position: absolute;
			bottom: 5px;
			right: 10px;
			color: #586c75;
			padding: 5px 10px;
			font-size: 1.5em;
		}
	}
}  // profile-pic-wrap

.my-profile-form-wrap {
  margin: 15px auto 70px;
	background: transparent;
}

@media (min-height: 700px) {
	.profile-pic-wrap {
		height: 300px;
	}  // cover-image-login
} 
@media (min-width: 600px) {
	.my-profile-form-wrap {
		margin: 15px auto 35px;
	}
} 
