.login-bg {
	background: #fefefe;
}

.welcome-to-vine-txt {
	text-align: center;
	margin: 6vh auto 5vh;
	color: #222; 
}

.cover-image-login {
	width: 100%; overflow: hidden;
	position: relative; height: 41vh;
	
	img {
		display: block; width: 100%;
		height: 100%; position: absolute;
		top: 0; left: 0; object-fit:cover;
	}
}  // cover-image-login

.login-btn, .login-btn:hover, .login-btn:focus, .login-btn:active {
	margin-top: 22vh;
}

// media styles
@media (min-height: 700px) {
	.welcome-to-vine-txt {
		margin: 6.5vh auto 5vh; 
	}
	.cover-image-login {
		height: 45vh;
	}
	.login-btn, .login-btn:hover, .login-btn:focus, .login-btn:active {
		margin-top: 21vh;
	}
} 

@media (min-height: 1200px) {
	.login-btn, .login-btn:hover, .login-btn:focus, .login-btn:active {
		margin-top: 20vh;
	}
}
// @media (min-height: 900px) {
// 	.grey-btn, .grey-btn:hover, .grey-btn:focus, .grey-btn:active {
// 		margin: 6vh auto 0;
// 	}
// }
// @media (min-height: 1200px) {
// 	.grey-btn, .grey-btn:hover, .grey-btn:focus, .grey-btn:active {
// 		margin: 5.5vh auto 0;
// 	}
// 	.login-btn, .login-btn:hover, .login-btn:focus, .login-btn:active {
// 		margin-top: 23.5vh;
// 	}
// }
